body{
    margin: 0;
}
.custom-navbar {
    background-color: #F3F4F6;
    border-bottom: 1px solid #E5E7EB;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.nav-center .nav-link {
    color: #374151;
    font-weight: 500;
    margin: 0 10px;
}

.nav-center .nav-link:hover,
.nav-center .nav-link:active {
    color: #1D4ED8;
}

.nav-icon-link {
    color: #374151;
    text-decoration: none;
    font-size: 20px;
    margin: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #E5E7EB;
    transition: all 0.3s;
}

.nav-icon-link:hover {
    color: #E5E7EB;
    background-color: #1D4ED8;
    transform: scale(1.05);
}

.avatar-img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 0 10px ;
    object-fit: cover;
}